@{
    ViewBag.title = "home page";
}

<div class="row">
    <div class="col-md-12">
        <h2>welcome!</h2>
        <p>
            this is our awesome coffeespots spa site. please checkout links above
            to see current coffee spots or comments on them!
        </p>
    </div>
</div>